@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.menu {
    display: flex;
    flex-direction: column;
}

.bot {
    display: block;
    position: absolute;
    bottom: 0px;

    margin: 0px;
    padding: 0px;
    height: 20px;
    width: 100%;

    background-color: #000000;
    color: #ffffff;
}