body {
	background: linear-gradient(30deg, hsla(195, 67%, 34%, 1) 0%, hsla(224, 67%, 24%, 1) 26%, hsla(240, 80%, 2%, 1) 100%);
	width: auto;
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;

	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: white;
}

panel {

}

button {

}

seks {
	background-color: blue;
}

